body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

h1 {
	color: #aaa;
}

.view {
	width: 100vw;
	height: 100vh;
	max-width: 500px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	/* position: fixed; */
	/* top: 0; */
	/* left: 0; */
}
.view {
	display: none;
}

.active {
	display: flex;
}

.container {
	position: relative;
}

#color-clock .container {
	width: 100%;
	height: auto;
}

#camera-video {
	background-color: rgba(0, 0, 0, 0.1);
	width: 80%;
	height: auto;
	margin: 10%;
	object-fit: contain;
	border-radius: 40%;
}

#focused-color {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 4rem;
	border: 2px solid #ccc;
	border-radius: 50%;
	text-align: center;
	line-height: 4rem;
	color: #fff;
}
